body {
  font-family: "Roboto", sans-serif;
  background-color: hsl(0, 0%, 35%);
  box-sizing: border-box;
  height: fit-content;
}

a {
  text-decoration: none;
  color: hsl(60, 100%, 80%);
}
.container {
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
}

@media only screen and (min-width: 470px) {
  .header {
    font-size: 4em;
    color: black;
  }
  .header::before {
    transform: translate(-88%, 90px);
  }
  .header::after {
    transform: translate(88%, -70px);
  }
  .section-info {
    font-size: 1.5em;
    min-width: 400px;
  }
  .section-info header {
    font-size: 2em;
  }
  .span-bold-big {
    font-size: 1.5em;
  }
  .footer {
    font-size: 1.5em;
  }
}

@media only screen and (max-width: 470px) {
  .header {
    font-size: 2em;
  }
  .header::before {
    transform: translate(-100%, 50px);
  }
  .header::after {
    transform: translate(100%, -32px);
  }
  .section-info {
    font-size: 1em;
    min-width: 300px;
  }
  .section-info header {
    font-size: 1em;
  }
  .span-bold-big {
    font-size: 1.5em;
  }
  .footer {
    font-size: 1em;
  }
}

.header {
  font-family: "Lobster", cursive;
  width: 100%;
  /* height: ; */
  margin-top: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: hsl(60, 100%, 80%);
}

.header::before {
  content: "";
  display: block;
  width: 35vw;
  height: 2px;
  background-color: hsl(60, 100%, 80%);
}

.header::after {
  content: "";
  display: block;
  width: 35vw;
  height: 2px;
  background-color: hsl(60, 100%, 80%);
}

.section-info {
  margin-top: 2em;
  width: 60%;
  max-width: 60%;

  height: auto;
  padding: 1em;
  border: 2px solid hsl(60, 100%, 80%);
  border-radius: 5px;
  color: white;
  display: flex;
  flex-direction: column;
  /* font-size: 1.5em; */
  box-shadow: 1em 1em hsl(0, 0%, 30%);
}

.section-info header {
  /* font-size: 2em; */
  margin-bottom: 0.5em;
  font-weight: bold;
  color: hsl(60, 100%, 80%);
}

.section-info span {
  padding-bottom: 0.5em;
}

.span-bold {
  font-weight: bold;
  color: hsl(60, 100%, 80%);
}

.span-bold-big {
  font-weight: bold;
  color: hsl(60, 100%, 80%);
}
footer {
  width: 60%;
  max-width: 60%;
  min-width: 300px;
  color: white;
  margin-top: 4em;
  display: flex;
  align-items: center;
  justify-content: center;
}
